html,body{
    min-height: 100vh;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}
.main-header{
    background-color: rgb(248, 242, 233);
    font-family: 'Syne Mono';
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-header {
    display: flex;  
}
.logo{
    width: 100px;
    display: inline-block;
    flex-direction: row;
}
.navigation{
    background-color: rgb(248, 242, 233);
    box-sizing:inherit;
}
.navigation a {
    color: #0f0f0b;
    text-decoration: none;
    font-size: 25px;
    padding: 12px;
    display: inline-block;
    text-align: left;
   
}
.navigation .active {
    background-color: #b7acbd;
}
.nav-button-container {
    width: 52px;
}
.button {
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgba(26, 165, 158, 0.87);
    background-size: flex;
    border-color: white;
    text-decoration: rgb(230, 230, 23);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Neucha';
    font-size: 20px;
    border: none
}
.nav-button {
    width: 52px;
    height: 52px;
    background-image: url('images/bars-solid.png');
    background-color: transparent;
    background-size: contain;
    border-color: transparent;
    display:none;
}
.copyright {
    text-align: center;
    color: black;
    font-size: 14px;
}
.banner {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("images/bannerimage.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}
.banner h1 {
    font-family: 'Syne Mono';
    color: rgb(100, 253, 246);
    font-size: 50px;
    text-shadow: -10px 10px 4px rgb(114, 70, 29);
    background-color: #00000677;   
    padding: 15px;
}
.banner a {
    margin: 15px;
    font-family: 'Syne Mono';
    font-style: bold static;
    font-size: 30px;
    background-color: rgba(100, 253, 245, 0.63);
    color: whitesmoke;
    text-decoration:ivory;
    padding: 20px;
    border-radius: 20px;
}
.banner a:hover {
    background-color:rgba(0, 0, 0, 0.596);
}
.content {
    margin-left: 10em;
    margin-right: 10em;
    display: grid;
    grid-template-columns: 1fr;
    /* the way imgs placed */
    grid-gap: 20px;
    font-family: 'Neucha';
    text-align-last: left;
    font-size: 30px;
}
.content h3 {
   font-family: 'kiwi Maru';
   font-size: 50px;
   color: rgb(26, 165, 158);
}
.about p {
    font-family: 'Neucha';
    text-align-last: left;
    font-size: 30px;
}
.card-image {
    max-width: 50%;
    object-fit: cover;
}
.card {
    text-align: justify;
}
.store {
    font-family: 'kiwi Maru';
    color: rgb(26, 165, 158);
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image {
    display: flex;
    flex-direction: row;
}
.image p {
    margin: 10px 20px;
}
.content h1 {
    color: rgb(26, 165, 158);
}
.service-content {
    font-family:'Kiwi Maru';
    margin-left: 10em;
    margin-right: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align-last: auto;
    font-size: 30px;
}
.horizental {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}
.horizental p {
    width: 75%;
}
.service-content p {
    margin: 0;
}
.service-content h1{
    color: rgb(26, 165, 158);
    display: right;
}

.type {
    color: rgb(26, 165, 158);
    word-wrap: break-word;
    max-width: 25%;
}
.contact-content {
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: center;
    font-family: 'Kiwi Maru';
    font-size: 20px;
}

#contact {
    grid-column-start: 2;
    border-color: lightskyblue;
}
.service {
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgba(26, 165, 158, 0.87);
    background-size: flex;
    border-color: white;
    text-decoration:rgb(230, 230, 23);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicebook {
    color: rgb(26, 165, 158);
}
.content a:hover {
    background-color:rgba(112, 62, 5, 0.651);
}
.label {
    display: block;
    margin-top: 1em;
}
.input {
    width:100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
}
#rating {
    display: block;
    width: 100%;
}
.rating-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}.rating-label {
    margin-top: 0;
}
.choose-fruit label {
    display: inline-block;
}
#buttonGroup {
    display: flex;
    justify-content: space-around;
}
.footer {
    background-color: rgb(248, 242, 233);
    display: grid;
    place-items: center;
    margin-top: 3em;
    padding: 20px;
}
.references {
    color: rgb(26, 165, 158);
    font-family: 'Kiwi Maru';
}
.references:hover {
    background-color:rgba(221, 131, 28, 0.651);
}  


.social {
    display: flex;
    flex-direction: row;
}
.social a {
    color:black;
    font-size: 24px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
}
.social a:hover {
    color: white;
}
.gallery {
    display: flex;
    justify-content: center;
    font-family: 'kiwi Maru';
   font-size: 40px;
   color: rgb(26, 165, 158);
}
/* slideshow */

.slide {
    min-height: 80vh;
    min-width: 100%;
    position: center;
}
.slide-image {
    height: 80vh;
    width: 100%;
    object-fit: contain;
}
.aboutContent h1 {
    color: rgb(26, 165, 158);
    display: flex;
    justify-content: center;
    font-family: 'Kiwi maru';
}
.aboutContent h2 {
    color: rgb(26, 165, 158);
    display: flex;
    justify-content: center;
    font-family: 'Kiwi maru';
}
.CHL {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}